.header {
  min-height: 100vh;

  &__nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    padding: 0 60px;
    background-color: $color-primary;
    z-index: 100;
  }

  &__inner {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-gap: 8.5%;
    padding-top: 202px;
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 1.25rem;
    margin-top: 42px;

    p:first-child {
      margin-bottom: 24px;
    }
  }

  &__image {
    margin-top: 52px;
  }
}

.scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
  width: 105px;
  height: 80px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 42px;
    height: 36px;
    background-image: url(../images/scroll-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
