@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

* {
  cursor: url("../images/cursor.svg"), auto;
}

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section__title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
}

.section__title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 200px;
  height: 3px;
  background-color: #474747;
}

.header {
  min-height: 100vh;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 102px;
  padding: 0 60px;
  background-color: #474747;
  z-index: 100;
}

.header__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 4fr;
      grid-template-columns: 7fr 4fr;
  grid-gap: 8.5%;
  padding-top: 202px;
}

.header__title {
  font-size: 3rem;
}

.header__subtitle {
  font-size: 1.25rem;
  margin-top: 42px;
}

.header__subtitle p:first-child {
  margin-bottom: 24px;
}

.header__image {
  margin-top: 52px;
}

.scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 10vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 105px;
  height: 80px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.scroll-down:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 42px;
  height: 36px;
  background-image: url(../images/scroll-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cards__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4fr)[3];
      grid-template-columns: repeat(3, 4fr);
  grid-gap: 15px;
  margin: 80px 0;
}

.card {
  padding: 46px 24px 16px;
}

.card__image {
  margin: 15px auto 30px;
}

.card__name {
  margin-bottom: 4px;
  font-size: 30px;
}

.card__info {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
}

.card__info:last-child {
  margin-bottom: 20px;
}

.card .btn {
  height: 67px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #474747;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.card:hover {
  -webkit-box-shadow: 2px 1px 12px #7b61ff75;
          box-shadow: 2px 1px 12px #7b61ff75;
}

.card:hover .btn {
  background-color: #7b61ff;
}

.card:hover .card__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.badge {
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
}

.badge--fighting {
  background-color: #9d4242;
}

.badge--fire {
  background-color: #fb522d;
}

.badge--dark {
  background-color: #5c5c5c;
}

.badge--normal {
  background-color: #aaaaaa;
}

.badge--ground {
  background-color: #976d63;
}

#map {
  width: 100%;
  height: 507px;
  margin-top: 95px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
  .header__inner {
    padding-top: 202px;
  }
}

@media screen and (max-width: 996px) {
  .header__inner {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .header__image {
    position: fixed;
    max-width: 100px;
    height: 100%;
    top: -150px;
    right: 10px;
    z-index: 101;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    line-height: 1.5;
  }
  .cards__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .header__inner {
    padding-top: 140px;
  }
  .scroll-down {
    position: unset;
    margin: 0 auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 50px;
  }
  .cards {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 2.4rem;
  }
  .header__image {
    top: -165px;
    width: 75px;
  }
}
